.charlist {
    padding-top: 50px;

    &__items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: 318px;
        grid-auto-rows: 318px;
        row-gap: 30px;
        column-gap: 25px;
        
        .activ {
            filter: drop-shadow(0px 5px 15px #9F0013);
            transform: translateY(-8px);
        }
    }

    &__item {
        background-color: #232222;
        box-shadow: 5px 5px 20px 0px rgba(122, 25, 25, 0.25);
    }

    &__img {
        width: 200px;
        height: 200px;
    }

    &__name {
        padding: 15px 0 0 15px;
        color: #FFF;
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
    }
    
    .button {
        margin: 0 auto;
        margin-top: 45px;
    }
}

.char__content {
    display: grid;
    grid-template-columns: 650px 425px;
    grid-template-rows: max-content;
    column-gap: 25px;
    z-index: 100;
}